.user-info {
  padding-top: 20px;

  &__title {
    font-size: 18px;
    font-weight: 500;
    color: #633071;
  }

  &__list {
    padding-top: 10px;
    list-style: none;
  }

  &__text-highlight {
    font-weight: 500;
  }
}